* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.ON img {
  height: 80px;
  margin-left: 80px;
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.gallery {
  text-align: left;
  padding: 50px;
}

.gallery h1 {
  font-size: 20px;
  color: #dad8d8;
  margin-bottom: 10px;
  margin-left: 50px;
  font: optional;
}

.gallery h2 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 90px;
  font-style: normal;
  margin-top: 5px;
  margin-left: 50px;
  margin-top: -10px;
}

.artworks {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 30px;
  justify-items: center;
  margin-bottom: auto;
  padding-left: 40px;
  margin: 0 auto;
  max-width: 900px; /* Menyesuaikan lebar maksimum grid */
}

.artworks img {
  width: 80%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.artworks h3, .artworks h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 40px;
}

.artworks h5, .artworks h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: justify;
  margin-bottom: 30px;
  margin-top: -40px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 150px;
  font-size: 16px;
  margin-left: 90px;
  margin-bottom: 190px;
  text-decoration: underline;
  color: white;
}

.back .arrow-left {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.back a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.feather {
  display: inline-flex;
  vertical-align: middle;
}


footer {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 20px;
  font-family: poppins, sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.company-info {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.name h2 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location,
.phone,
.Facebook,
.E-mail,
.Instagram {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location img {
  width: 6px;
  height: 11px;
  margin-right: 10px;
}

.phone img {
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

.Facebook img {
  height: 11px;
  width: 11px;
  margin-right: 10px;
}

.E-mail img {
  width: 11px;
  height: 8px;
  margin-right: 10px;
}

.Instagram img {
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

.location p,
.phone p,
.Facebook p,
.E-mail p,
.Instagram p {
  margin: 0;
  font-size: 11px;
  line-height: 1.4;
}


.copyright {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 20px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: -20px;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 920px) {
  .ON img {
    margin-left: 40px;
    margin-top: 20px;
  }

  nav ul li {
    margin-right: 30px;
  }

  .gallery h1 {
    font-size: 18px;
    margin-left: 30px;
  }

  .gallery h2 {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 70px;
  }

  .artworks img {
    margin-top: 40px;
  }

  .back {
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .ON img {
    margin-left: 30px;
    margin-top: 15px;
  }

  nav ul li {
    margin-right: 20px;
  }

  .gallery h1 {
    font-size: 16px;
    margin-left: 20px;
  }

  .gallery h2 {
    font-size: 26px;
    margin-left: 20px;
    margin-bottom: 60px;
  }

  .artworks h3,
  .artworks h4,
  .artworks h5,
  .artworks h6 {
    font-size: 16px;
    margin-top: 40px;
  }

  .artworks img {
    margin-top: 30px;
  }

  .back {
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 120px;
  }
}

@media (max-width: 576px) {
  .ON img {
    margin-left: 20px;
    margin-top: 10px;
  }

  nav ul li {
    margin-right: 15px;
  }

  .gallery h1 {
    font-size: 14px;
    margin-left: 15px;
  }

  .gallery h2 {
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 50px;
  }

  .artworks h3,
  .artworks h4,
  .artworks h5,
  .artworks h6 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .artworks img {
    margin-top: 20px;
  }

  .back {
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 80px;
  }
}

@media (max-width: 450px) {
  .gallery h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .artworks h3,
  .artworks h4,
  .artworks h5,
  .artworks h6 {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .back {
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 280px) {
  .gallery h1 {
    font-size: 12px;
  }

  .gallery h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .artworks h3,
  .artworks h4,
  .artworks h5,
  .artworks h6 {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .back {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}


